<div class="card">
  <img src="{{ pais.flags.png }}" alt="Bandeira de {{ pais.name }}" />
  <div class="container">
    <h2 class="card__nome">{{ pais.name }}</h2>
    <p class="card__paragrafo">
      <b class="card__paragrafo__titulo">Population:</b>
      {{ pais.population.toLocaleString("pt-BR") }}
    </p>
    <p class="card__paragrafo">
      <b class="card__paragrafo__titulo">Region:</b> {{ pais.region }}
    </p>
    <p class="card__paragrafo">
      <b class="card__paragrafo__titulo">Capital:</b> {{ pais.capital }}
    </p>
  </div>
</div>
