.main {
  justify-content: space-around;
  margin-inline: -280px;
  position: relative;
}

.input {
  padding: 15px 30px;
  min-width: 250px;
}

input,
select {
  outline: none;
  border: none;
}

.input,
label {
  padding-right: 15px;
}

option {
  margin-inline: 10px;
}

select {
  padding: 15px 15px;
  border-radius: 5px;
}

.iconeDark {
  background: center no-repeat url(../../../assets/img/Search_dark.svg);
}

.iconeLight {
  background: center no-repeat url(../../../assets/img/Search_light.svg);
}

.iconeDark,
.iconeLight {
  height: 24px;
  width: 24px;
}

.main__container {
  margin-top: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 4;
  justify-content: space-evenly;
}

@media (max-width: 1070px) {
  .main {
    flex-direction: column;
    margin-inline: -50px;
  }

  select {
    margin-top: 20px;
  }
}

@media (max-width: 615px) {
  .main__container {
    margin-top: 25px;
  }
}
