<section class="main flex-center">
  <div class="flex-center">
    <input
      (keyup)="this.barraDePesquisa()"
      class="input"
      type="search"
      placeholder="Search for a country..."
    />
    <img src="../../../assets/img/Search_light.svg" alt="" />
  </div>
  <select name="" id="">
    <option value="" disabled selected>Filter by region</option>
    <option value="Africa">Africa</option>
    <option value="America">America</option>
    <option value="Asia">Asia</option>
    <option value="Europe">Europe</option>
    <option value="Oceania">Oceania</option>
  </select>
</section>
<div class="main__container flex-center">
  <app-country *ngFor="let pais of this.listaPaises" [pais]="pais">
  </app-country>
</div>
