<section class="main flex-center">
  <div class="flex-center">
    <label for="" class="flex-center">
      <input
        (input)="this.executaBuscaFeitaNoCampo()"
        class="input"
        type="search"
        placeholder="Search for a country..." />
      <img src="../../../assets/img/Search_light.svg" alt=""
    /></label>
  </div>
  <select (click)="executaBuscaFeitaNoSelect()" name="" id="">
    <option disabled selected>Filter by region</option>
    <option value="all">All</option>
    <option value="Africa">Africa</option>
    <option value="Americas">Americas</option>
    <option value="Asia">Asia</option>
    <option value="Europe">Europe</option>
    <option value="Oceania">Oceania</option>
  </select>
</section>
<div class="main__container flex-center">
  <app-country *ngFor="let pais of this.listaPaises" [pais]="pais">
  </app-country>
</div>
