<div class="container">
  <div class="view">
    <a href="" class="btnVoltar" routerLink="/countries">Back</a>
    <img src="{{ pais.flags.png }}" alt="Bandeira de {{ pais.name }}" />
  </div>

  <div class="container container__content">
    <h3 class="pais__nome">{{ pais.name }}</h3>
    <div class="div">
      <div class="block__content">
        <p class="card__paragrafo__titulo">
          <b>Native name:</b> {{ pais.nativeName }}
        </p>
        <p class="card__paragrafo__titulo">
          <b>Population:</b> {{ pais.population.toLocaleString("pt-BR") }}
        </p>
        <p class="card__paragrafo__titulo"><b>Region:</b> {{ pais.region }}</p>
        <p class="card__paragrafo__titulo">
          <b>Subregion:</b> {{ pais.subregion }}
        </p>
        <p class="card__paragrafo__titulo">
          <b>Capital:</b> {{ pais.capital }}
        </p>
      </div>

      <div class="block__content">
        <p class="card__paragrafo__titulo">
          <b>Top Level Domain: </b>
          {{ pais.topLevelDomain }}
        </p>
        <p class="card__paragrafo__titulo">
          <b>Demonym: </b>{{ pais.demonym }}
        </p>
        <p class="card__paragrafo__titulo">
          <b>Numeric Code: </b>{{ pais.numericCode }}
        </p>
      </div>
    </div>
  </div>
</div>
