.header {
  min-height: 75px;
  justify-content: space-between;
  padding-inline: 50px;
  margin-bottom: 60px;
}

.titulo {
  font-size: 24px;
}

.paragrafo {
  min-width: 100px;
  justify-content: space-around;
}
