.header {
  min-height: 75px;
  justify-content: space-between;
  padding-inline: 50px;
  margin-bottom: 60px;
  margin-top: 25px;
}

span.luaAtiva,
span.luaInativa {
  height: 20px;
  width: 20px;
}

.luaAtiva {
  background: url(../../../assets/img/Moon_ativa.svg);
  background-position: center;
}

.luaInativa {
  background: url(../../../assets/img/Moon_inativa.svg);
  background-position: center;
}

.titulo {
  font-size: 24px;
}

.paragrafo {
  min-width: 100px;
  justify-content: space-around;
}

@media (max-width: 615px) {
  .titulo {
    font-size: 20px;
  }

  .header {
    margin-bottom: 30px;
  }
}
