* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  overflow-x: hidden;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.dark-mode {
  background-color: #212e37;

  select {
    background-color: #2b3743;
    color: white;
  }

  color: white;

  label,
  header,
  .card,
  .input,
  body.dark-mode .btnVoltar {
    background-color: #2b3743;
  }

  header {
    box-shadow: 20px 0px 3px black;
  }

  .card {
    border-radius: 10px;
  }

  .input,
  label {
    border-radius: 5px;
    color: white;
  }

  a {
    background-color: #2b3743;
    color: white;
  }
}

body.dark-mode .input::placeholder {
  color: white;
}

body.dark-mode .card__paragrafo__titulo b {
  color: #e5f2fb;
}

body.dark-mode .card__paragrafo__titulo {
  color: #c7d4dd;
}
