* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  overflow-x: hidden;
  box-sizing: border-box;
}

hr {
  opacity: 0.5;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark-mode,
body.dark-mode select,
body.dark-mode .input {
  background-color: black;
  color: white;
}

body.dark-mode .input::placeholder {
  color: white;
}

body.dark-mode .card__paragrafo__titulo {
  color: gray;
}

body.dark-mode select {
  background-color: #474a51;
}
